<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agenda.Properties.Settings.bd_agendaConnectionString"
            connectionString="server=localhost;User Id=root;database=bd_agenda"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>